# Terraform files
**/.terraform/
*.tfstate
*.tfstate.*.backup
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc


/node_modules

/lambda_function.zip
*.log

.DS_Store
Thumbs.db
